<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linghang.wusthelper.base.mapper.ScoreMapper">


    <select id="getScores" resultType="com.linghang.wusthelper.base.dto.ScoreDto">
        SELECT `id`, `name`, `credit`, `term`, `point`
        FROM `score`
        WHERE `student_num` = #{studentNum}
        ORDER BY `term` DESC, `point` DESC
    </select>
</mapper>
